* {
  max-width: 1800px;
  margin: 0 auto; }
  * ::-webkit-scrollbar {
    width: 10px; }
  * ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey;
    border-radius: 3px; }
  * ::-webkit-scrollbar-thumb {
    background: #526976;
    border-radius: 3px; }
  * ::-webkit-scrollbar-thumb:hover {
    background: #1E88E5; }

.row {
  margin-left: 0;
  margin-right: 0; }
  .row .nav-left {
    background-color: #272C33;
    height: 800px;
    padding: 5px 0px;
    overflow: auto; }
    .row .nav-left img {
      text-align: center;
      width: 50%; }
    .row .nav-left ul {
      list-style-type: none;
      font-family: "Poppins", sans-serif;
      font-weight: 600; }
      .row .nav-left ul .navbars {
        padding: 7px 0px;
        font-size: 14px; }
        .row .nav-left ul .navbars:hover {
          color: #1E88E5;
          cursor: pointer;
          transition: 0.6s; }
        .row .nav-left ul .navbars .menu-item {
          padding-left: 5%;
          font-size: 18px; }
        .row .nav-left ul .navbars .fa-book {
          margin-right: 4px; }
        .row .nav-left ul .navbars #languages {
          display: none; }
          .row .nav-left ul .navbars #languages select {
            background-color: #272C33;
            color: #526976;
            width: 80%;
            margin-left: 20%;
            margin-top: 10px;
            border: 0;
            border-radius: 2%; }
            .row .nav-left ul .navbars #languages select option {
              font-size: 14px; }
              .row .nav-left ul .navbars #languages select option:hover {
                color: #1E88E5;
                cursor: pointer;
                transition: 0.7s;
                font-weight: bold; }
        .row .nav-left ul .navbars input {
          width: 75%;
          border-radius: 5px;
          line-height: 25px;
          padding-left: 5px;
          display: none; }
        .row .nav-left ul .navbars button {
          width: 25%;
          display: none; }
        .row .nav-left ul .navbars #public {
          display: none; }
        .row .nav-left ul .navbars .publication {
          list-style-image: url("http://i65.tinypic.com/2eq9e2t.png"); }
          .row .nav-left ul .navbars .publication .public-list {
            font-size: 14px; }
            .row .nav-left ul .navbars .publication .public-list:hover {
              color: #182C61; }
            .row .nav-left ul .navbars .publication .public-list a {
              text-decoration: none;
              color: #526976; }
              .row .nav-left ul .navbars .publication .public-list a:hover {
                text-decoration: none;
                color: #182C61;
                font-weight: bold;
                font-size: 16px; }
            .row .nav-left ul .navbars .publication .public-list p {
              font-size: 12px; }
        .row .nav-left ul .navbars .all-post {
          margin-top: 150px; }
          .row .nav-left ul .navbars .all-post p {
            font-size: 22px; }
    .row .nav-left #main-list {
      color: #526976;
      border-top: solid #31373E 1px;
      margin-top: 10px; }
  .row .nav-right {
    padding-left: 0;
    padding-right: 0;
    background-color: #383F48;
    height: 800px;
    font-family: "Poppins", sans-serif; }
    .row .nav-right .search {
      line-height: 50px;
      font-size: 40px;
      height: 60px;
      background-color: #1E88E5;
      color: #C2DFF8;
      position: relative; }
      .row .nav-right .search .search-icon .icon {
        display: inline;
        position: relative;
        left: 50%;
        margin: auto; }
        .row .nav-right .search .search-icon .icon .fa-search:hover {
          color: #182C61;
          transition: 0.7s;
          cursor: pointer; }
    .row .nav-right .code-button {
      margin-top: 10px;
      display: none; }
      .row .nav-right .code-button button {
        margin-left: 5px;
        padding: 3px 10px; }
    .row .nav-right .code-input {
      padding: 10px 20px 0px 20px;
      display: none; }
      .row .nav-right .code-input textarea {
        background-color: #272c33;
        border: 0;
        border-radius: 5px;
        width: 100%;
        color: #C2DFF8;
        padding: 7px 10px;
        height: 600px;
        resize: none; }
      .row .nav-right .code-input .button {
        margin-top: 2px;
        text-align: center; }
        .row .nav-right .code-input .button button {
          padding: 5px 25px;
          font-size: 18px;
          text-transform: uppercase;
          letter-spacing: 2px; }

footer {
  height: 25px;
  text-align: center;
  background-color: #272C33;
  line-height: 25px;
  font-size: 14px;
  color: #526976;
  font-weight: bold; }

/*# sourceMappingURL=main.css.map */